html{
    background-color: black;
    width: 485px;
    margin: auto;
}

body{
    margin: auto;
    padding: 0;
    width: 80%;
}

.photos{
    text-align: center;
}

img{
    max-width: 350px;
}

h1, .content{
    background-color: #ffffff;
}

h1{
    color: #007d7b;
    font-size: 3em;
}

h2{
    font-size: 2em;
    text-align: center;
}

figcaption, label, input, small {
    font-size: 1em;
}

ul{
    display: flex;
}

nav a{
    color:#ffffff;
    font-size: 1.5em;
    text-align: center;
    margin: .25rem;
}

.contact h2, .contact p, .contact label{
    color: #ffffff;
}

footer p{
    color: #ffffff;
    text-align: center;
}

label{
    display: block;
}

#name, #email, #message{
    width: 65%;
}
.submit input{
    background-color: #007d7b;
    width: 50%;
    margin: .5rem;
    color: #ffffff;
    border-radius: 8px;
}
.contact{
text-align: center;
}

@media screen and (max-width: 880px) {
    
    html{
        width: 880px;
    }   

    nav{
        display: flex;
        justify-content: center;}

    .photos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1300px) {
    
    html{
        width: 1300px;
    }   

    nav{
        display: flex;
        justify-content: center;}

    .photos{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}